// обнуление
@import "_nullstyle";
@import "_fonts";

// цвета
$white: #ffffff;
$white2: #f9f9f9;
$white3: #f1f1f1;
$gray: #898989;
$brown: #9d7247;
$black: #333333;
$coral: #e97171;

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  height: 100%;
  font-family: "Gilroy";
  font-weight: 500;
  color: $black;
  font-size: 16px;
  background-color: $white2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

main {
  flex: 1 1 auto;
}

._container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

// repeat block
.section-subtitle {
  font-family: "NotoSerif";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.115em;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 20px;
}

.section-title {
  font-family: "NotoSerif";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: $white;
}

.button {
  display: inline-flex;
  justify-content: center;
  font-family: "NotoSerif";
  padding: 18px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

// header
.header {
  background-color: $white;

  &__container {
    min-height: 76px;
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: 0 0 177px;
  }

  &__icon {
    display: block;
    margin-left: 40px;
  }

  &__icon-account {
    display: inline-block;
    text-decoration: none;
    margin-right: 24px;
  }

  &__icon-favorites {
    position: relative;
    display: inline-block;
    margin-right: 34px;
    text-decoration: none;
  }

  &__icon-favorites::after {
    content: "15";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -21px;
    width: 25px;
    height: 16px;
    text-align: center;
    background: $brown;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    color: $white;
  }

  &__icon-backet {
    position: relative;
    display: inline-block;
    margin-right: 32px;
    text-decoration: none;
  }

  &__icon-backet::after {
    content: "3";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -15px;
    width: 20px;
    height: 16px;
    text-align: center;
    background: $brown;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    color: $white;
  }
}

.nav {
  flex: 0 0 683px;
  margin-left: 32px;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -24px;
      width: 0;
      height: 1px;
      background-color: $brown;
      // opacity: 0;
      transition: width 0.3s ease-in-out;
    }
  }

  &__link:hover {
    color: $brown;
    &::before {
      width: 100%;
      // opacity: 1;
    }
  }
}

// hero
.hero {
  background-color: $white;
  &__body {
    margin-bottom: 40px;
  }

  &__banner {
    background: url(../image/hero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 720px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__subtitle {
    color: #fcfcfc;
    text-align: center;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    color: #fcfcfc;
    margin-bottom: 60px;
  }

  &__button {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__btn {
    color: $white;
    border: 1px solid $white;
    &:hover,
    &:active {
      background-color: $white;
      color: $black;
    }
  }
}

.benefits-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 111px;
  padding: 48px 0;

  &__item {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 22px;
  }
}

.benefits-title-text {
  margin-left: 24px;

  &__title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: $black;
    margin-bottom: 2px;
  }

  &__text {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $gray;
  }
}

// categories
.categories {
  padding: 48px 0;

  &__subtitle {
    color: $gray;
  }

  &__title {
    color: $black;
    margin-bottom: 48px;
  }
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  margin-bottom: 32px;

  &__item {
    align-items: center;
  }

  &__link {
    letter-spacing: 3px;
    text-decoration: none;
    border: 1px solid $black;
    color: $black;

    &--active {
      color: $white;
      background-color: $black;
    }
    &:hover,
    &:active {
      color: $white;
      background-color: $black;
    }
  }
}

.categories-photo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  &__item {
    position: relative;
    align-items: center;
  }

  &__image {
    position: relative;
    display: block;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(51, 51, 51, 0.3) 20.31%, #333333 100%);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__img {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  &__title {
    position: absolute;
    bottom: 1%;
    left: 50%;
    text-align: center;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}

// info
.info {
  background-color: $black;
  padding: 84px 0;
  background: url(../image/info-bg.jpg) no-repeat;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    width: 730px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $white;
    text-align: center;
    margin-bottom: 40px;
  }

  &__link {
    text-decoration: none;
    color: $black;
    background-color: $white2;
    &:hover,
    &:active {
      color: $white;
      background-color: $brown;
    }
  }
}

// catalog
.catalog {
  padding: 120px 0 80px 0;

  &__container {
    text-align: center;
  }

  &__body {
    margin-bottom: 32px;
  }

  .button-catalog {
    display: flex;
    align-items: center;
    margin-bottom: 36px;

    &__new {
      position: relative;
      font-family: "NotoSerif";
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 46px;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $black;
      }
    }

    &__sale {
      font-family: "NotoSerif";
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 46px;
      // color: $coral;
      margin-left: 32px;
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $black;
      }
    }
  }
  .catalog-btn {
    color: $coral;
  }

  .active {
    color: $black;
    border-bottom: 2px solid $black;
  }

  .catalog-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    .catalog-item {
      transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      &:hover {
        background: #f9f9f9;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      }

      &--active {
        background: #f9f9f9;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      }
      &__image {
        position: relative;
        display: block;

        &::before {
          content: "New";
          position: absolute;
          top: 16px;
          right: 16px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          color: $white;
          background-color: $brown;
          width: 48px;
          height: 48px;
          border-radius: 100%;
          z-index: 5;
        }
      }

      &__img {
        position: relative;
        object-fit: cover;
        width: 100%;
      }

      &__info {
        position: relative;
        padding: 21px 16px;
        text-align: start;
      }

      &__icon {
        content: "";
        position: absolute;
        bottom: 20px;
        right: 16px;
      }

      &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: $black;
        margin-bottom: 4px;
      }

      &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $gray;
        margin-bottom: 8px;
      }

      &__price {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: $black;
      }

      &__price-old {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $coral;
        text-decoration: line-through;
        margin-left: 16px;
      }
    }

    .hide {
      display: none;
    }
  }

  &__link {
    border: 1px solid $black;
    text-decoration: none;
    color: $black;

    &:hover,
    &:active {
      background-color: $black;
      color: $white;
    }
  }
}

// blog
.blog {
  padding: 80px 0 120px 0;

  &__container {
    text-align: center;
  }

  &__body {
    margin-bottom: 40px;
  }

  &__subtitle {
    text-transform: uppercase;
    color: $gray;
  }

  &__title {
    color: $black;
    margin-bottom: 40px;
  }

  .blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    &__link {
      position: relative;
      display: block;
      text-decoration: none;

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(51, 51, 51, 0.3) 0%, #333333 100%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    &__img {
      width: 100%;
      object-fit: cover;
    }

    &__text {
      position: absolute;
      bottom: -15px;
      left: 50%;
      width: 196px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      color: $white;
      transform: translate(-50%, -50%);
      z-index: 6;
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
    background-color: $black;

    &:hover {
      color: $white;
      background-color: $brown;
    }
  }
}

// social
.social {
  padding: 0 0 60px 0;
  &__subtitle {
    color: #898989;
  }

  &__title {
    color: $black;
    margin-bottom: 30px;
  }

  .social-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 258px 204px 258px;
    gap: 16px;

    &__item {
      display: inline-block;
      overflow: hidden;

      &--1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &--2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      &--3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &--4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }

      &--5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
      }

      &--6 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.6s ease-in-out;
      display: block;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// footer
.footer {
  &__body {
    padding: 75px 0 43px 0;
    border-top: 1px solid #d8d1d1;
  }

  .footer-list {
    display: flex;
    justify-content: space-between;

    &__item {
      flex: 0 0 263px;
    }

    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: $black;
      margin-bottom: 24px;
    }

    &__text {
      display: block;
      position: relative;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $gray;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &--black {
        display: block;
        font-weight: 500;
        color: $black;
        transition: color 0.3s ease-in-out;

        &:nth-child(5) {
          margin-bottom: 24px;
        }

        &:not(:last-child):hover {
          color: $brown;
        }
      }

      &--icon {
        position: relative;
        padding-left: 30px;
        transition: color 0.3s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
        }

        &:nth-child(2) {
          &::before {
            top: 10px;
            background: url(../image/svg/footer-icon.svg) no-repeat;
          }
        }

        &:nth-child(3) {
          &::before {
            top: 2px;
            left: 2px;
            background: url(../image/svg/footer-icon2.svg) no-repeat;
          }

          &:hover {
            color: $black;
            font-weight: 500;
          }
        }

        &:nth-child(4) {
          &::before {
            top: 2px;
            left: 2px;
            background: url(../image/svg/footer-icon3.svg) no-repeat;
          }

          &:nth-child(3),
          &:nth-child(4):hover {
            color: $black;
            font-weight: 500;
          }
        }
      }
    }

    &__icon {
      &:last-child {
        margin-left: 16px;
      }
    }

    &__social-icon {
      display: inline-block;
    }

    &__icon-social {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}
